body{
    background-color:purple;
}
[class*='col-'],[class^=' col-'] {
    display: inline-block;
    vertical-align: top;
}
.row {
    width:100%;
}
.col-8 {
width: 796px;
height: 400px;
background-color: brown;
}
.col-4 {
    width: 396px;
    height: 400px;
}
.col-2 {
    width: 196px;
    background-color: blueviolet;
    height: 200px;
}
